body {
	/* background: rgb(28,34,56); */
}

h2, p, li {
	color: #dcdcdc;
}
nav {

	/*justify-content: space-between;*/
}

header {
	
}

.hero {
	height: 80vh;
	background-image: url('../img/clarke-sanders-249798-unsplash-1366.jpg');
}

.menu {
	background-color: #252c48;
    box-shadow: 0px 0px 15px #0c0a0a;
    position: fixed;
    left: 250px;
    margin-left: -250px;
    height: 100%;
    width: 260px;
}

#wrapper {
	padding-left: 250px;
}

#page-content-wrapper {
	
	position: relative;
	padding:20px;


}
/*#navbarNav {
	display: flex;
}

#navbarNav .nav-item {
	margin-right: 5px;
}*/

.navbar{
	background-color: #fff;
    box-shadow: 0px 0px 2px 0px #808080;

}
.navbar-nav {
	justify-content: flex-end;
}

.nav-link {
	color: #464646;
}

/* Model */

#model-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.model-list-item {
	width: 200px;
	height: 250px;
	margin: 8px;
	list-style: none;
}

.model-list-item__price {
	width: 60px;
    display: inline-block;
    font-size: 25px;
    margin-right: 10px;
}

.model-list-item .order {
	width: 32px;
	height: 32px;
}
.model-list-item img {
	object-fit: cover;
	width: 170px;
	height: 170px;
	border-radius: 10px;	
}

.model-detail-wrapper {
	margin-top:70px;
	padding-top: 60px; 
	padding-bottom: 100px;
}

.model-detail {
	margin: 30px;
}

.model-detail_name {

	color: blue;
	font-size: 35px;
}
.model-detail_name p {

	color: #242424;
	
}

.model-detail_price p
{
	color: #504e88;
    font-size: 2.7em;
}
.model-detail_description {

	margin-bottom: : 30px;

}

.model-detail-order {
	margin-top: 30px;
	margin-bottom: : 30px;
}


.orders-list {

	margin-top: 40px;
	padding-left: 0px;
	/*padding: 20px;*/
}

.orders-list-item {

	display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 10px;
}

.orders-list-item .orders-list-item-header img {
	
	object-fit: contain;
	border-radius: 50%
}

.orders-list-item img {

	width: 70px;
	height: 70px;
}

#featured-model-list {

	display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    height: 300px;
    overflow-x: auto;
    list-style: none;
    margin-top: 40px;
    padding-left: 0px;
}

.featured-model-list-item {
	width: 350px;
	height: 250px;
	margin-right: 5px;
	border-radius: 10px;
}

.featured-model-list-item img {
	object-fit: cover;
	width: 350px;
	height: 200px;

}

#howItWorks-wrapper {
	margin-top: 50px;
}

#howItWorks-wrapper .col {
	padding:0px;
}

.how-it-work-img {

	width: 	100%;
	height: 400px;
	object-fit: cover;	
}

.step-wrapper {
	margin-left: 70px;
}
.howItWorks-number {
	font-size: 100px;
    font-weight: bold;
}

.masonry {
	display: flex;
	flex-flow: row wrap;
	/*margin-left: -8px;   Adjustment for the gutter*/
	width: 100%;
}

.masonry-brick {

	flex: auto;
	height: 250px;
	min-width: 150px;
	margin: 0 8px 8px 0;
}
.masonry-brick-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	 -webkit-transition: all 1s ease;
    transition: all 1s ease;

}
.masonry-brick-img:hover {


    -webkit-transform: scale(1.2) translateY(-20px); 
    transform: scale(1.2) translateY(-20px);
}

.masonry-brick:nth-child(2n+1) {
		width: 250px;
	}
.masonry-brick:nth-child(2n+2) {
		width: 80px;
	}
.masonry-brick:nth-child(2n+3) {
		width: 180px;
	}
.masonry-brick:nth-child(2n+4) {
		width: 140px;
	}

footer {

	margin-top: 100px;
	padding-top: 50px;
	background-color: black;
	padding-bottom: 50px;
}
.footer-wrapper {

	padding-top: 50px;
	padding-bottom: 50px;
	
}
.footer-socials {
	display: flex;
	justify-content: flex-end;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 1px solid #6b6969;
}

.explore-filters {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
}

.explore-filters li {

    
    padding: 8px;
    margin-right: 10px;
    width: 165px;
    text-align: center;
}


.explore-filters .active  {
	background-color: #343a40;
	border: 2px solid #343a40;
    border-radius: 5px;
}

.explore-filters li:hover  {
	/*background-color: #343a40;*/
	color: white;
	border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
}

.explore-filters .active a{
	color: white;
	text-decoration: none;
}

.explore-filters li a {
	text-decoration: none;
	color: black;

}

/* ========== Body Content==========*/

.body--content {
	padding-top: 40px;
	padding-left: 50px;
}

.selector-wrapper {

   
    height: 350px;
    width: 100px;
    padding-top: 175px;
	position: fixed;
    display: flex;
    overflow-y: hidden;
    justify-content: center;
    flex-direction: column;
}

.selector-wrapper:hover {
	overflow-y: auto;
}

.selector-wrapper::-webkit-scrollbar {
    width: 4px;
} 
.selector-wrapper::-webkit-scrollbar-track {
	background-color: #83838a;
}
.selector-wrapper::-webkit-scrollbar-track-piece { 
	background-color: grey;
}
.selector-item {
	margin-bottom: 10px;
	border: 1px solid;
	border-radius: 10px;
    width: 85px;
    height: 85px;
}
.selector-item-icons 
{
	display: block;
    margin: auto;
}
.selector-item-text {
	text-align: center;
	color: black;
}